/* Initialize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // This is not typography, no customized, just initialized.
}

body {
  box-sizing: border-box;
}
